.QuoteApppp {
  text-align: center;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}
.plusButton {
  transition-duration: 0.5s;
}
.plusButton:hover {
  transform: rotateZ(90deg);
}

.classCards {
  transition-duration: 0.2s;
  border-radius: 10px;
}

.classCards:hover {
  box-shadow: 3px 5px 10px grey;
  transform: translateY(-3px);
}

.classroom-tabs {
  margin: 3%;
}

#authPage {
  background: rgb(218, 210, 210);
  padding: 5%;
  border-radius: 10px;
  text-align: center;
  width: 75vw;
  margin: 10vh auto;
  height: auto;
}

#dashboard {
  width: 100%;
  padding: 5%;
  margin: 0 auto;
  height: 100vh;
}

@media screen and (max-width: 450px) {
  #authPage {
    background: rgb(218, 210, 210);
    padding: 2%;
    margin: 1%;
    text-align: center;
    width: 100vw;
    height: auto;
    align-items: center;
  }

  .classroom-tabs {
    margin: 2%;
    padding: 1%;
  }

  #dashboard {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
}
